#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig HWTRACING
	bool "Hwtracing Driver Support"
	default n
	---help---
		Hwtracing drivers support.

if HWTRACING

config HWTRACING_MAX_OUTPORT_NUM
	int "Max outport number of hwtracing device"
	default 2

config HWTRACING_TIMEOUT
	int "Timeout us for waiting register state change"
	default 100

config HWTRACING_NOTE
	bool "Hwtracing Note Support"
	depends on DRIVERS_NOTE
	default n

if HWTRACING_NOTE

config HWTRACING_NOTE_FILTER_DEFAULT_MODE
	hex "Tricoreht Note driver filter mode"
	depends on SCHED_INSTRUMENTATION_FILTER
	default SCHED_INSTRUMENTATION_FILTER_DEFAULT_MODE
	---help---
		Filter mode for notetricoreht

config HWTRACING_NOTE_CPUSET
	hex "Tricoreht Note driver CPU set"
	depends on SMP && SCHED_INSTRUMENTATION_FILTER
	default SCHED_INSTRUMENTATION_CPUSET
	---help---
		CPU set for notetricoreht

endif # HWTRACING_NOTE

endif # HWTRACING

source "drivers/hwtracing/coresight/Kconfig"
# Tricore hardware-tracing is not part of the ESP32-P4 L0 build.
